<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'restaurant:home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'restaurant:branch' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restaurant:menu' %}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restaurant:cart' %}">Order</a>
        </li>


        {% if user.is_authenticated %}
        {# user.is_authenticatd ავტომატურად ახორციელებს მომხმარებლის აუთენთიკაციას და თუკი დალოგინებულია მაშინ გამოუტან აამუშავებს if ბლოკს > profile და logout ის გვერდებს #}
        {# ხოლო თუ არ არის დალოგინებული მეორე > else ბლოკზე გადავა და გამოუტანს login და register გვერდებს#}
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user }}
                {#  user ცვლადი არ მოგვაქვს, მაგრამ djangoში > settingsში > contextpreccessorsში არის გაწერილი, ასევე django>admin გვერდზეც ავტომატურად არის ჩაშენებული და აქედან მოაქვს #}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
                </li>
                <li>
                    <form action="{% url 'user:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item">Log Out</button>
                    </form>
                </li>
            </ul>
            </li>
          {% else %}
         <li class="nav-item">
            <a class="nav-link" href="{% url 'user:login' %}">Log In</a>
         </li>
         <li  class="nav-item">
            <a class="nav-link" href="{% url 'user:register' %}">Register</a>
         </li>
        {% endif %}
      </ul>
      <form method="get" action="{% url 'restaurant:menu' %}" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search in menu" aria-label="Search" name="search" value=""/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>








